



.leituras {
    width: 2em;
    height: 2em;
    background: url('./leituras.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.leituras:hover {

}

.nav_item:hover>a>.nav_icon.leituras{
    animation-duration: 1s;
    animation-name: leiturasGlitch;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#leituras{
    
}

@keyframes leiturasGlitch {
    0%, 100% {
        background: url("./leituras.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    92.5% {
        background: url('./leituras-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;     
    }

    95% {
        background: url('./leituras-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
    }

    97.5% {
        background: url('./leituras-3.png');
        background-size: contain;
        background-repeat: no-repeat; 
        opacity: 1;        
    }
}
