



.projetos {
    width: 2em;
    height: 2em;
    background: url('./projetos.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.projetos:hover {

}

.nav_item:hover>a>.nav_icon.projetos{
    animation-duration: 1s;
    animation-name: projetosGlitch;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#projetos{
    
}

@keyframes projetosGlitch {
    0%, 100% {
        background: url("./projetos.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    92.5% {
        background: url('./projetos-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;     
    }

    95% {
        background: url('./projetos-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
    }

    97.5% {
        background: url('./projetos-3.png');
        background-size: contain;
        background-repeat: no-repeat; 
        opacity: 1;        
    }
}
