



.entreterimento {
    width: 2em;
    height: 2em;
    background: url('./entreterimento.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.entreterimento:hover {

}

.nav_item:hover>a>.nav_icon.entreterimento{
    animation-duration: 1s;
    animation-name: entreterimentoGlitch;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#entreterimento{
    
}

@keyframes entreterimentoGlitch {
    0%, 100% {
        background: url("./entreterimento.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    92.5% {
        background: url('./entreterimento-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;     
    }

    95% {
        background: url('./entreterimento-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
    }

    97.5% {
        background: url('./entreterimento-3.png');
        background-size: contain;
        background-repeat: no-repeat; 
        opacity: 1;        
    }
}
