



.ideias {
    width: 2em;
    height: 2em;
    background: url('../assets/ideias/ideia.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ideias:hover {

}

.nav_item:hover>a>.nav_icon.ideias{
    animation-duration: 1s;
    animation-name: ideaseGlitch;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#ideias{
    
}

@keyframes ideaseGlitch {
    0%, 100% {
        background: url("../assets/ideias/ideia.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    92.5% {
        background: url('../assets/ideias/ideia-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;     
    }

    95% {
        background: url('../assets/ideias/ideia-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
    }

    97.5% {
        background: url('../assets/ideias/ideia-3.png');
        background-size: contain;
        background-repeat: no-repeat; 
        opacity: 1;        
    }
}
