html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;

    
}

.navbar{
    list-style: none;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}




.nav_list{
    background-color: rgb(25 25 25);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
 
    /* width: 20%;  torna responsivo*/
    
}


.nav_item{
    padding: 1em;
    color:#eee;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 0.125em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /* border-left: 1px solid #fff; */
}







.teste{
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #10a11c;
    bottom: 0;
    left: 0;
}








body{
    margin-top: 10em;
    background-color: #000;
}




.nav_item:hover{
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
}

.nav_link{
    color: #fff;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    
}

.nav_icon{
    width: 32px;
    height: 32px;
    position:relative;

}
.nav_span{

    text-align: center;
    vertical-align: middle;
    padding-left: 1.5em;
}

.nav_span_div{
    display: flex;
  align-items: center;

}

 





  